@mixin flex
{
    display: flex;
    justify-content: center;
    align-items: center;    
}
@mixin borderRight
{
    border-right: 3px solid rgb(255, 255, 255);
}
@mixin borderLeft 
{
    border-left: 3px solid rgb(255, 255, 255);
}
@mixin borderBottom
{
    border-bottom: 3px solid rgb(255, 255, 255); 
}
@mixin borderTop
{
    border-top: 3px solid rgb(255, 255, 255); 
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, .block
{
    @include flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    background: rgb(44, 44, 44);
}
.block {
    margin-top: 0%;
}
.block div 
{
    @include flex;
    width: 100%;
}
.btn, #resetBtn ,#aI ,.reset
{
    width: 100px;
    height: 100px;
    background: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 70px;
    border: 10px solid rgba(255, 255, 255, 0);
    user-select: none;
}
#title
{
    color: white;
    font-size: 70px;
    margin-bottom: 30px;
    user-select: none;
}
#root
{
    width: 100%;
}
.App
{
    position: relative;
    width: 100%;
}
#front
{
    @include flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
}
#title1 
{
    width: 100%;
}
#resetBtn ,#aI, .reset
{
    border: 2px solid white !important; 
    border-radius: 30px;
    margin: 20px;
}
.reset
{
   
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
   
}
.blur
{
    animation: blur 0.2s ease forwards;
}
@keyframes blur {
    0%{ backdrop-filter: blur(0px); opacity: 0;}
    100%{ backdrop-filter: blur(10px); opacity: 1;}
}

#resetBtn
{
    border: 1px solid rgba(128, 128, 128, 0);
}
#frontPage 
{
    @include flex;
    opacity: 1;
    transition: all 0.3s;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    backdrop-filter: blur(10px);
    h1 
    {
        font-size: 45px;
        user-select: none;
    }
    div
    {
        @include flex;
        width: 260px;
        height: 55px;
        border: 2px white solid;
        margin-top: 30px;
        border-radius: 50px;
        h1 {
            font-size: 30px;
            user-select: none;
        }
    }
}
#aiScore, #notAiScore
{
    display: none
}
#playerScore, #botScore, #xScore, #oScore
{
    color: white;
    font-size: 20px;
    margin-bottom: 20px
}
// grid

// vertical
#btn1, #btn4, #btn7 
{
    @include borderRight;
}
#btn2, #btn5, #btn8
{
    @include borderRight;
    @include borderLeft;
} 
#btn3, #btn6, #btn9
{
    @include borderLeft;
}
//horizontal
#btn1, #btn2, #btn3 
{
    @include borderBottom;
}
#btn4, #btn5, #btn6
{
    @include borderBottom;
    @include borderTop;
} 
#btn7, #btn8, #btn9
{
    @include borderTop;
}